version: "3.3"
services:
 wordpress:
  image: wordpress:latest
  container_name: wordpressjb
  ports:
   - 8868:80
  links:
    - wpmariadb:mysql
  environment:
    - WORDPRESS_DB_USER=root
    - WORDPRESS_DB_PASSWORD=root

 wpphpmyadmin:
  image: phpmyadmin/phpmyadmin:latest
  container_name: wpphpmyadmin
  ports:
   - 8080:80
  links:
   - wpmariadb:db

 wpmariadb:
  image: mariadb:latest
  container_name: wpmariadb
  environment:
   - MYSQL_ROOT_PASSWORD=root
